*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

section{
    margin-bottom: 100px;
    margin-top: 100px;
}

.header-wrapper{
    display: flex;
    width: 80%;
    margin: auto;
}


.header-right{
    width: 50%;
    margin-top: 60px;
}

.header-left-img {
    width: 50%;
    text-align: right;
}

.header-left-img img {
    width: 300px;
}

.header-title h1 {
    font-size: 59px;
    line-height: 90px;
    padding: 0px 21px;
}

button {
    display: block;
}

span.bar-line {
    position: absolute;
    width: 5px;
    height: 135px;
    background: #f55656;
    margin-top: -69px;
}
h1.mission {
    color: #c34141;
}


button.header-btn {
    padding: 10px 40px;
    border: navajowhite;
    margin-top: 18px;
    margin-bottom: 15px;
    background: #ebb316;
    border-radius: 5px;
}


button.header-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Header Section Ends Here  */

.my-mission {
    display: flex;
    width: 80%;
    margin: auto;
}

.single-box-mission {
    width: 33%;
    margin: 40px 11px;
}


.single-box-mission img {
    width: 120px;
}

.single-box-mission h3 {
    font-size: 25px;
    margin: 10px 10px;
}

h1.mission-title {
    width: 100%;
    text-align: center;
    font-size: 49px;
}

span.mission-years {
    color: #c34141;
}

.single-box-mission.box-1 {
    background: #dddada;
    padding: 20px;
    border-radius: 20px;
}

.single-box-mission.box-2 {
    background: #ffd2d2;
    padding: 20px;
    border-radius: 20px;
}

.single-box-mission.box-3 {
    background: #9dd4d7;
    padding: 20px;
    border-radius: 20px;
}

/* <!-- My Mission Section Ends Here  --> */



.devlop-wrapper {
    display: flex;
    width: 80%;
    margin: auto;
}



.devlop-left-img {
    width: 50%;
}

.devlop-right-info {
    width: 50%;
}

.devlop-left-img img {
    width: 500px;
    position: relative;
}

.devlop-right-info h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.devlop-right-info p {
    margin: 10px 0px;
}

.devlop-right-info {
    margin: 123px 0px;
}

button.header-btn {
    color: wheat;
    font-weight: 900;
}

img.bg-images {
    width: 150px;
    position: absolute;
    margin-left: -68px;
    margin-top: 52px;
}


 /* Develop Sections Ends Here  */


 .global-wrapper {
    width: 80%;
    display: flex;
    margin: auto;
}

.goloval-left-info {
    width: 50%;
}

.global-right-img {
    width: 50%;
}

.global-right-img img {
    width: 500px;
}

.global-right-img {
    text-align: right;
}

img.bg-image {
    width: 150px;
}


.global-wrapper {
    margin-top: 60px;
}

.goloval-left-info {
    margin: 68px 4px;
}

.goloval-left-info h1 {
    margin-bottom: 26px;
    font-size: 43px;
}


/* golval sections ends here  */



.footer-mission {
    width: 100%;
    text-align: center;
}

.footer-wrapper {
    background: black;
    color: white;
    padding: 50px;
    margin-top: 80px;
}

h1.footer-title {
    margin-bottom: 10px;
    font-style: italic;
}


 /* footer ends here  */